<div class="box">
	<h1>Welcome to Tutorio!</h1>
	<%= link_to "Sign Up", "#", class: "btn btn-primary" %>
</div>

<div class="box">
	<h1>Welcome to Tutorio!</h1>
	<%= link_to "Sign Up", "#", class: "btn btn-primary" %>
</div>

<div class="box">
	<h1>Welcome to Tutorio!</h1>
	<%= link_to "Sign Up", "#", class: "btn btn-primary" %>
</div>

<div class="box">
	<h1>Welcome to Tutorio!</h1>
	<%= link_to "Sign Up", "#", class: "btn btn-primary" %>
</div>

<div class="box">
	<h1>Welcome to Tutorio!</h1>
	<%= link_to "Sign Up", "#", class: "btn btn-primary" %>
</div>

<div class="box">
	<h1>Welcome to Tutorio!</h1>
	<%= link_to "Sign Up", "#", class: "btn btn-primary" %>
</div>